<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lc.meq.dao.SysRolesDao" >

	<!-- <cache type="com.lc.meq.jedis.RedisCache"></cache> -->
	
	<select id="queryById" resultType="SysRoles">
		SELECT 
			role_uid,
			role_name,
			remark,
			is_deactive,
			creator,
			created_date
		FROM
			sys_roles
		WHERE 
			role_uid = #{roleUid}::uuid	
	</select>
	
	<update id="updateById" parameterType="SysRoles">
		UPDATE 
			sys_roles
		SET 
			role_name = #{roleName},
			remark = #{remark},
			is_deactive = #{deactive},
			creator = #{creator}::uuid,
			created_date = #{createdDate}
		WHERE
			role_uid = #{roleUid}::uuid
	</update>
</mapper>
